body{
  background-color: white;
  position: relative;
  margin-left: 25%;
}

header{
  text-align: center;
  width: 75%;
}
section{
  border: solid;
  width: 75%;
  height: auto;
  min-height: 550px;
  max-height: 550px;
  overflow-y: auto;
}

footer{
  position: absolute;
  bottom: -1;
  right: 0;

  left: 0;
  background: grey;
  width: 75.5%;
}

section h2{
  text-align: center;
}

.hidden{
  display: none;
}
.active{
  background-color: lightgrey;
}

.nav li{
  display:inline;
  border: solid;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
}
@media (max-width:1180px) {
    .nav li{
      display: flex;
      display: inline-flex;
      width: 150px;
    }
}

.nav li > a {
  margin: 3px;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.contact{
  padding-left: 20px;
  display: inline-block;
}

.websites{
  display: inline-block;
  border-left: solid 3px;
  padding-left:100px;
  margin-left: 5%;
}

.address{
  padding-left: 30px;
  margin-left: 15%;
  border-left: solid 3px;
  display: inline-block;
  padding-right:20px;
}

#about{
  word-wrap: break-word;
}

#education td{
  padding-left: 20px;
  border: solid;
}

#education table{
  margin-right: 15px;
}
